<% @post.comments.each do |comment| %>
  <div class='well span8'>
    <em>"<%= comment.body %>"</em>
    <span class='quiet'>by</span> <%= link_to comment.creator.username, '' %> 
    <small>at <%= format_datetime(comment.created_at) %></small>
  </div>
<% end %>