<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
</ul>
<div class='nav_item'>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>
</div>
